<div >
    
    <form [formGroup] = "loginForm"  class = "loginForm" >
        <h1>
            Login
        </h1>
        <mat-form-field>
            <input formControlName = "username"
                matInput
                placeholder="User Name" id = "check">

        </mat-form-field>
        <small id = "errorMessage">
            {{getUserNameErrorMessage()}}
        </small>
       
        <mat-form-field>
            <input formControlName = "password"
            type = "password"
            matInput 
            placeholder="Password">
            
        </mat-form-field>
        <small id = "errorMessage">
            {{getPasswordErrorMessage()}}
        </small>
        
        <button mat-raised-button color = "primary" (click) = "userInfo()">Login</button>
    </form>
</div>
